{% load i18n %}

{% load account %}{% user_display user as user_display %}{% load i18n %}{% autoescape off %}
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
        Hello from {{ site_name }},<br>
        We've received a request to reset your password. If you didn't make this request, you can safely ignore this email<br>
        Otherwise, use this code to reset your password: <strong>{{ key }}</strong><br><br>
    {% endblocktrans %}
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you!
    {% endblocktrans %}
{% endautoescape %}